.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
  box-sizing: border-box;
}

.header h1 {
  font-size: 1.5em;
  color: #111111;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
